body {
  background-color: black;
  color: white;
}

hr {
  border: 2px solid gray;
  margin: 10px 0 20px 0;
}

nav>ul>li>a {
  color: tomato;
  font-size: 1.4em;
}

.active {
  color: greenyellow;
}

form {
  border: 2px solid white;
  padding: 10px;
  width: fit-content;
  margin: auto;
}

input {
  margin: 10px 0;
  display: block;
  padding: 5px 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.clientData {
  border: 2px solid white;
  width: 500px;
}

.clientData td,
th {
  border: 1px solid gray;
  padding: 10px;
}